
.opreserva {
  display: flex;
  flex-wrap: wrap;
  gap: 0px;
  justify-content: center;
}

<<<<<<< Updated upstream
.opreserva div {
  border: 1px solid #e4e2e2;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  width: 10%; 
  border-radius: 5px;
}


.opreserva div img {
  max-width: 25%;
  height: auto;
  margin-bottom: -10px;
}

.opreserva .item-6 {
  font-size: large;
  color: rgb(5, 82, 3);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}


.bestof h3 {
  color: #000000; /* Verde escuro */
  font-weight: bold; /* Texto em negrito */
  margin-bottom: 20px; /* Espaçamento inferior */
  font-size: 25px;
}

.dropdown select {
  font-size: 25px;
  font-weight: bold;
  padding: 4px 8px;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  color: #004d00; /* Verde escuro */
  background-color: white;
  cursor: pointer;
  
}

.bestof {
  margin-left: 20%; /* Margem grande para o bloco do conteúdo */
}

.destinos {
  display: flex;
  flex-wrap: wrap; /* Permite quebra de linha para telas menores */
  gap: 20px; /* Espaçamento entre as colunas */
  justify-content: center; /* Centraliza as colunas horizontalmente */
  padding: 20px; /* Adiciona espaçamento interno no container */
  margin: 0 auto; /* Centraliza o container na página */
  max-width: 1200px; /* Define uma largura máxima para o layout */
}

.column {
  flex: 1 1 300px; /* Largura mínima de 300px e expansível */
  max-width: 33%; /* Limita a largura máxima de cada coluna */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;
  margin: 0 10px; /* Espaçamento lateral entre as colunas */
}

.column:hover {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.destinos img {
  width: 100%;
  height: 200px; /* Define altura fixa */
  object-fit: cover; /* Garante que a imagem preencha sem distorção */
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.column:hover img {
  transform: scale(1.05); /* Efeito de zoom no hover */
}

.content {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.content h2 {
  margin: 0;
  font-size: 1.5em;
}

.content p,
.content span {
  margin: 5px 0;
  font-size: 1em;
}



@media (max-width: 768px) {
  .opreserva div {
    width: 100%; /* 1 bloco por linha */
  }
  .opreserva img {
    width: 10%;
  }
}
=======
#main-menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 0,0);

}
a{
    color: $menu-item-color;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
      text-decoration-color: $menu-item-color;
      text-decoration-thickness: 2px;
          }
    }
ul{
      list-style-type: none;
      padding: 3px 30px;
      display: flex;
      flex-direction: row;
      margin: 1px;
    }
ul{display:flex;}
li {
    width: 100px;
    height: 100px;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
    color: white;
}
>>>>>>> Stashed changes
