.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Ajuste o valor conforme necessário */
}

.item {
  position: relative; /* Para posicionar o texto sobre a imagem */
}

.item img {
  display: block;
  width: 100%; /* Assegura que as imagens se ajustem ao tamanho do seu container */
  height: auto;
}

.text {
  position: absolute;
  bottom: 10px; /* Distância do fundo */
  left: 10px; /* Distância da esquerda */
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente para legibilidade */
  color: white;
  padding: 5px;
  font-size: 16px;
}